# Retrieve Stock Prices

## Load Crawled Data and Build Dataframe

### Libraries

In [0]:
!pip install yfinance

Requirement already satisfied: yfinance in /usr/local/lib/python3.6/dist-packages (0.1.54)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.6/dist-packages (from yfinance) (0.0.9)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.6/dist-packages (from yfinance) (0.25.3)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.6/dist-packages (from yfinance) (2.21.0)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.6/dist-packages (from yfinance) (1.18.2)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (2019.11.28)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas>=0.24->yfinance) (1.12.0)

In [0]:
import os
from google.colab import drive
import json
import pandas as pd
from datetime import datetime
from collections import Counter, defaultdict
import numpy as np 
from tqdm import tqdm
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure
import matplotlib
import matplotlib.dates as mdates
from textblob import TextBlob
import yfinance as yf
from pandas_datareader import data as pdr
import pickle
from datetime import timedelta, date, datetime
from tqdm import tqdm

### Mounting (need to copy data to own Google Drive)

In [0]:
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

### SIC Alpha Ratings

In [0]:
file_path = "gdrive/My Drive/sic-code-rankings-03-23-2020.csv"

df = pd.read_csv(file_path)
df = df.drop(65)

def split_sic_code(x):
  sic_code = x["Industry Name"].split(" ")[0].split("-")[1]
  return sic_code

df["SIC"] = df.apply(lambda x: split_sic_code(x), axis = 1)
df

    Symbol                                      Industry Name  ...  # of Stocks  SIC
0    -005E                               SIC-54   Food Stores  ...          9.0   54
1    -001A                              SIC-10   Metal Mining  ...         53.0   10
2    -006E    SIC-64   Insurance Agents, Brokers, And Service  ...         14.0   64
3    -008I                        SIC-88   Private Households  ...          5.0   88
4    -008C                      SIC-82   Educational Services  ...         34.0   82
..     ...                                                ...  ...          ...  ...
60   -004G             SIC-46   Pipelines, Except Natural Gas  ...         13.0   46
61   -003B              SIC-31   Leather And Leather Products  ...          9.0   31
62   -002J  SIC-29   Petroleum Refining And Related Indust...  ...         24.0   29
63   -001D                    SIC-13   Oil And Gas Extraction  ...        103.0   13
64   -001C                               SIC-12   Coal Mining  ...         10.0   12

[65 rows x 6 columns]

In [0]:
#df.to_pickle("gdrive/My Drive/k_10_corona.pkl")
#df_no_text = df.drop(columns=["raw_text"])
df.to_csv("gdrive/My Drive/sic_stocks.csv", encoding = 'utf-8', index=False)

## Stock Prices

In [0]:
df_base = pickle.load(open("gdrive/My Drive/k_10_corona.pkl",mode="rb"))
cik = set(df_base.FirmID)
print(len(cik))
cik = [x.split(" ")[0] for x in cik]
cik = list(map(int, cik))

1379

In [0]:
file_path = "gdrive/My Drive/cik_ticker.csv"

df = pd.read_csv(file_path, delimiter= "|").reset_index()
df = df.drop(columns = ["Incorporated", "IRS","Business","index"])
df

           CIK Ticker  ... Exchange     SIC
0      1090872      A  ...     NYSE  3825.0
1         4281     AA  ...     NYSE  3350.0
2      1332552  AAACU  ...      NaN  6770.0
3      1287145   AABB  ...      OTC  8200.0
4      1024015   AABC  ...      NaN  6035.0
...        ...    ...  ...      ...     ...
13732   827056   ZVXI  ...      NaN  3845.0
13733   846475   ZYNX  ...      NaN  3845.0
13734  1406796   ZYTC  ...      NaN  3841.0
13735   748015     ZZ  ...     NYSE  2510.0
13736   827830  ZZGQI  ...      NaN  6513.0

[13737 rows x 5 columns]

In [0]:
df = df[df['CIK'].isin(cik)]
df

           CIK Ticker                          Name Exchange     SIC
18      706688    AAN                    Aarons Inc     NYSE  7359.0
24     1158449    AAP        Advance Auto Parts Inc     NYSE  5531.0
38      825313     AB  Alliancebernstein Holding LP     NYSE  6282.0
47      351569   ABCB                Ameris Bancorp   NASDAQ  6022.0
136    1037676    ACI                 Arch Coal Inc     NYSE  1221.0
...        ...    ...                           ...      ...     ...
13618  1347858   XXII        22ND Century Group Inc    OTCBB  2111.0
13647   108985   YORW                 York Water Co   NASDAQ  4941.0
13673   877212   ZBRA       Zebra Technologies Corp   NASDAQ  3560.0
13694   109380   ZION          Zions Bancorporation   NASDAQ  6021.0
13697   855612   ZIXI                      Zix Corp   NASDAQ  7374.0

[864 rows x 5 columns]

In [0]:
def get_stock_data(x):

  try:
    company_ticker = yf.Ticker(str(x["Ticker"]))

    ## company information
    company_info = company_ticker.info
    x["fullTimeEmployees"] = int(company_info["fullTimeEmployees"])
    x["sector"] = company_info["sector"]
    x["marketCap"] = company_info["marketCap"]

    ## stock prices
    company_stocks = company_ticker.history(start= "2020-01-30", end= date.today())
    x["stock 2020-01-30"] = company_stocks.iloc[0,3]
    x["volume 2020-01-30"] = company_stocks.iloc[0,4]
    x["stock " + date.today().strftime("%Y-%m-%d")] = company_stocks.iloc[-1,3] 
    x["volume " + date.today().strftime("%Y-%m-%d")] = company_stocks.iloc[-1,4]
    return x

  except: 
    x["fullTimeEmployees"] = np.nan
    x["sector"] = np.nan
    return x

row_list = []

for index, row in tqdm(df.iterrows()):
  row_new = get_stock_data(row)
  row_list.append(row_new)

df_new = pd.DataFrame(row_list)   
#df = df.apply(lambda x: get_stock_data(x), axis = 1)

141it [02:53,  1.67s/it]

- CHTR: No data found for this date range, symbol may be delisted

151it [03:11,  1.74s/it]

- CLH: No data found for this date range, symbol may be delisted

152it [03:12,  1.69s/it]

- CLMT: No data found for this date range, symbol may be delisted

201it [04:34,  2.25s/it]

- CVA: No data found for this date range, symbol may be delisted

218it [05:04,  1.68s/it]

- CZR: No data found for this date range, symbol may be delisted

219it [05:06,  1.68s/it]

- CZWI: No data found for this date range, symbol may be delisted

283it [06:47,  1.72s/it]

- FCF: No data found for this date range, symbol may be delisted

313it [07:37,  1.74s/it]

- FRME: No data found for this date range, symbol may be delisted

356it [08:50,  1.74s/it]

- HBIA: No data found for this date range, symbol may be delisted

405it [10:11,  1.63s/it]

- IRBT: No data found for this date range, symbol may be delisted

429it [10:51,  1.56s/it]

- KEG: No data found for this date range, symbol may be delisted

432it [10:56,  1.74s/it]

- KKR: No data found for this date range, symbol may be delisted

434it [11:00,  1.72s/it]

- KMI: No data found for this date range, symbol may be delisted

461it [12:16,  3.92s/it]

- LQMT: No data found for this date range, symbol may be delisted

486it [12:57,  1.46s/it]

- MHK: No data found for this date range, symbol may be delisted

488it [13:01,  1.63s/it]

- MHO: No data found for this date range, symbol may be delisted

505it [13:27,  1.48s/it]

- MRO: No data found for this date range, symbol may be delisted

534it [14:12,  1.50s/it]

- NFLX: No data found for this date range, symbol may be delisted

598it [15:57,  1.73s/it]

- PEBO: No data found for this date range, symbol may be delisted

603it [16:05,  1.70s/it]

- PFBI: No data found for this date range, symbol may be delisted

622it [16:35,  1.65s/it]

- PNC: No data found for this date range, symbol may be delisted

630it [16:47,  1.79s/it]

- PPG: No data found for this date range, symbol may be delisted

672it [17:53,  1.91s/it]

- SBAC: No data found for this date range, symbol may be delisted

718it [19:05,  1.51s/it]

- ST: No data found for this date range, symbol may be delisted

763it [20:32,  1.94s/it]

- TNC: No data found for this date range, symbol may be delisted

808it [21:49,  1.87s/it]

- UTX: No data found for this date range, symbol may be delisted

864it [23:19,  1.62s/it]

In [0]:
df_new.to_csv("gdrive/My Drive/sic_stocks.csv", encoding = 'utf-8', index=False)